/* Theme */

main {
    background: #21D789;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#21D789, #FCF84A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #21D789, #FCF84A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #FAFAFA;
}

.icons-social a {
	color: #000000;
}

.icons-social a svg path{
	fill: #000000;
}
